h1 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
.sop {
    
}
p{
    text-align: start;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    background-color: rgb(79, 153, 125);
}
.sport {
    
}